.sidebarSection {
  position: sticky;
  top: 0;
  align-self: start;
  height: 100vh;
  padding: 3rem 2rem 3rem 0;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  border-right: 1px solid var(--line);
  box-sizing: border-box;
}

.avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 16px;

  img {
    width: 100%;
  }
}

.sectionLists li {
  list-style: none;
  padding: 8px 0;
  cursor: pointer;
}

.ownerInfo {
  padding: 32px;
}